$grey: #333;
$light-grey: #EDEDED;
$fancy: 'Lobster', cursive;
$purple: #CC99CC;
$tran-blue: rgba(91,141,200,.85);
$dark-blue: rgb(91,141,200); //#5b8dc8
$gold: #FBFBCA;
$overshade: rgba(91,141,200,.4);
$normal-font: Helvetica,sans-serif;